/*****************
variables
*****************/
/* rgb(236, 208, 72)*/
/* rgb(12, 153, 104)*/
/* rgb(105, 184, 213)*/
/*****************
mixins
*****************/
/*****************
basic styles
*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #383838;
  padding: 10px 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arizonia", sans-serif;
  color: #383838;
}

.container {
  width: 80%;
  margin: auto;
}
/*****************
nav
*****************/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.logo {
    font-weight: 700;
    color: white;
    background-color: #383838;
    text-decoration: none;
    font-size: 2.2rem;
    border-radius: 10px 40px; 
    padding: 15px;
    font-family: "Arizonia", sans-serif;
    opacity: 0.8;
}
.logo:hover {
    background-color: #383838; 
    transition-duration: .8s ease;
    opacity:1;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
nav li {
    padding: 20px; 
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: white;
    background-color: #383838;
    padding: 20px;
    border-radius: 40px;
    font-weight: 700;  
}
nav li a:hover {
    background-color: white;
    color: #383838;
    transition-duration: .8s ease;  
}
/*****************
home
*****************/
#home {
    background-image: linear-gradient(rgba(236, 208, 72, 0.4), rgba(236, 208, 72, 0.4)), url(/img/home-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
}
.about-home {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7rem;
    width: 60%;
}
.main-headings {
    font-size: 4rem;
}
.underline { 
    width: 130px;
    background-color: #383838;
    padding: 5px;
    margin-bottom: 15px;
}
.icons {
    display: flex; 
    list-style: none;
}
.icons li {
    padding-right: 30px;
}
.icons li a {
  font-size: 2rem;
  color: #383838;
}
.icons li a:hover {
  color: #000;
  transition-duration: 0.7s;
}
.icons li i:hover {
  animation: punKrug 0.7s linear;
}
@keyframes punKrug {
  100% {
    transform: rotate(360deg);
  }
}
.sign-up {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0d9968;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.sign-up a {
  color: black;
}

