/*****************
variables
*****************/
/* rgb(236, 208, 72)*/
/* rgb(12, 153, 104)*/
/* rgb(105, 184, 213)*/
/*****************
mixins
*****************/
/*****************
basic styles
*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #383838;
  padding: 10px 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arizonia", sans-serif;
  color: #383838;
}

.container {
  width: 80%;
  margin: auto;
}
.sign-up {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0d9968;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.sign-up a {
  color: black;
} 
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.logo {
    font-weight: 700;
    color: white;
    background-color: #383838;
    text-decoration: none;
    font-size: 2.2rem;
    border-radius: 10px 40px; 
    padding: 15px;
    font-family: "Arizonia", sans-serif;
    opacity: 0.8;
}
.logo:hover {
    background-color: #383838; 
    transition-duration: .8s ease;
    opacity:1;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
nav li {
    padding: 20px; 
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: white;
    background-color: #383838;
    padding: 20px;
    border-radius: 40px;
    font-weight: 700;  
}
nav li a:hover {
    background-color: white;
    color: #383838;
    transition-duration: .8s ease;  
}
/*****************
home
*****************/
#home {
    background-image: linear-gradient(rgba(236, 208, 72, 0.4), rgba(236, 208, 72, 0.4)), url(/img/home-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
}
.about-home {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7rem;
    width: 60%;
}
.main-headings {
    font-size: 4rem;
}
.underline { 
    width: 130px;
    background-color: #383838;
    padding: 5px;
    margin-bottom: 15px;
}
.icons {
    display: flex; 
    list-style: none;
}
.icons li {
    padding-right: 30px;
}
.icons li a {
  font-size: 2rem;
  color: #383838;
}
.icons li a:hover {
  color: #000;
  transition-duration: 0.7s;
}
.icons li i:hover {
  animation: punKrug 0.7s linear;
}
@keyframes punKrug {
  100% {
    transform: rotate(360deg);
  }
}
/*****************
about
*****************/
#about {
    background: #0d9968;  
}
#about .about-page { 
    padding-top: 100px;
    padding-bottom: 50px;
}
#about .about-page p {
  font-size: 1.4rem;
  text-align: justify;
}
#about .about-page p .img-left {
  float: left;
  width: 30%;
}
#about .about-page p .img-left:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
}
#about .about-page p .img-right {
  float: right;
  width: 30%;
}
#about .about-page p .img-right:hover {
    transform: rotate(-360deg);
    transition-duration: 1s;
}
#about article:nth-child(2) {
    padding-top: 50px;
    padding-bottom: 30px;
}
/*****************
contact
*****************/
#contact {
    background-image: linear-gradient(rgba(105, 184, 213, 0.5), rgba(105, 184, 213, 0.5)), url(img/contact-pozadina.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
}
#about .about-page { 
    padding-top: 100px;
    padding-bottom: 50px;
}
#contact .container {
    display: flex;
}
#contact .contact-info{
    width: 50%;
    align-items: center;
    justify-content: center; 
    margin-top: 50px;
    margin-right: 50px;
}
#contact .contact-info p{
    font-size: 1.4rem;
    text-align: justify;
    padding-top: 30px;
}
#contact .form{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}
#contact .icons {
    padding-top: 200px;
}
#contact .form input[type=text],input[type=email] {
  width: 100%;
  padding: 10px;
  border-radius: 20px 40px;
  border: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: #383838;
  margin-bottom: 10px;
  font-family: sans-serif;
  opacity: 0.6;
}
#contact .form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px 40px;
  border: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: #383838;
  margin-bottom: 10px;
  font-family: sans-serif;
  opacity: 0.6;
}
#contact .form input[type=submit] {
  width: 80%;
  padding: 20px; 
  margin-top: 20px;
  border-radius: 20px 40px;
  border: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  background-color: #383838;
  font-family: sans-serif;
  opacity: 0.8;
  cursor: pointer;
}
#contact .form input[type=submit]:hover { 
  opacity: 1;
}
/*****************
responsive
*****************/
@media(max-width: 768px) { 
    nav ul {
        margin-top: 15px;
    }
    .about-home { 
         width: 70%;
    }
    .about-home p {
        font-size: 1.2rem; 
    }
    #home { 
        height:100%;
    }
    #home .icons {
        padding-bottom: 40px;
    }
    #about .about-page {
        padding: 0;
    }
    #about .about-page p {
        font-size: 1.2rem; 
    }
    #about article:nth-child(2) {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #contact { 
        height:100%; 
    }
    #contact .container .contact { 
        align-items:flex-start;
    }
    #contact .icons{
        padding-top: 20px;
        margin-bottom: 50px 
    }
    #contact .form input[type=submit] {
        width: 100%;
    }
            }
 



